<?xml version="1.0" encoding="UTF-8"?>
<odoo>
  <data>

    <record id="action_sale_planning_dashboard" model="ir.actions.client">
      <field name="name">Supply Planning</field>
      <field name="tag">sale_planning.dashboard</field>
    </record>

    <record id="action_sale_schedule_dashboard" model="ir.actions.client">
      <field name="name">Sales Scheduling</field>
      <field name="tag">sale_schedule.dashboard</field>
    </record>

    <record id="action_sale_planning_dashboard_progress" model="ir.actions.client">
      <field name="name">Progress Tracking</field>
      <field name="tag">sale_planning.dashboard_progress</field>
    </record>

    <record id="action_sale_planning_analytics" model="ir.actions.client">
      <field name="name">Analytics &amp; Reports</field>
      <field name="tag">sale_planning.analytics</field>
    </record>

    <record id="action_sale_planning_replenishment" model="ir.actions.client">
        <field name="name">Replenishment Management</field>
        <field name="tag">sale_planning.replenishment</field>
    </record>

    <menuitem id="menu_sale_planning_root" name="Sale Planning" sequence="10"/>

    <record id="menu_sale_schedule_dashboard" model="ir.ui.menu">
      <field name="name">Sales Scheduling</field>
      <field name="parent_id" ref="menu_sale_planning_root"/>
      <field name="action" ref="action_sale_schedule_dashboard"/>
      <field name="sequence">20</field>
      <field name="active" eval="True"/>
    </record>

    <menuitem id="menu_sale_planning_dashboard"
              name="Supply Planning / Purchase"
              parent="menu_sale_planning_root"
              action="action_sale_planning_dashboard"
              sequence="10"/>

    <menuitem id="menu_sale_planning_replenishment"
            name="Replenishment Management"
            parent="menu_sale_planning_root"
            action="action_sale_planning_replenishment"
            sequence="40"/>

    <menuitem id="menu_sale_planning_dashboard_progress"
              name="Progress Tracking"
              parent="menu_sale_planning_root"
              action="action_sale_planning_dashboard_progress"
              sequence="30"/>

    <menuitem id="menu_sale_planning_analytics"
              name="Analytics &amp; Reports"
              parent="menu_sale_planning_root"
              action="action_sale_planning_analytics"
              sequence="30"/>
  </data>
</odoo>

