<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <data>

        <!-- =========================
             CLIENT ACTIONS
        ========================== -->

        <record id="action_fashion_forecast_dashboard_demand" model="ir.actions.client">
            <field name="name">Demand Forecast</field>
            <field name="tag">fashion_forecast.dashboard</field>
        </record>

        <record id="action_fashion_forecast_dashboard_sales" model="ir.actions.client">
            <field name="name">Revenue Forecast</field>
            <field name="tag">demand_forecast.dashboard</field>
        </record>

        <!-- =========================
             MENUS
        ========================== -->

        <menuitem id="menu_fashion_forecast_dashboard_demand"
                  name="Demand Forecast"
                  parent="sale_planning.menu_sale_planning_root"
                  action="action_fashion_forecast_dashboard_demand"
                  sequence="80"/>

        <menuitem id="menu_fashion_forecast_dashboard_sales"
                  name="Revenue Forecast"
                  parent="sale_planning.menu_sale_planning_root"
                  action="action_fashion_forecast_dashboard_sales"
                  sequence="90"/>

    </data>
</odoo>
